:root{
 --White: hsl(0, 0%, 100%);

--Slate300: hsl(212, 45%, 89%);
--Slate500: hsl(216, 15%, 48%);
--Slate900: hsl(218, 44%, 22%);
}
body{
    background-color: var(--Slate300);
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:min(1rem)
}

.container{
    max-width:18rem;
    background-color:var(--White) ;
    padding: 0.5rem;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img,.container{
     border-radius: 2rem;
}
img{
    width: 100%;
    height: auto;
    text-align: center;
    margin:1rem 0;

}