:root{
 --White: hsl(0, 0%, 100%);

--Slate300: hsl(212, 45%, 89%);
--Slate500: hsl(216, 15%, 48%);
--Slate900: hsl(218, 44%, 22%);
}
body{
    background-color: var(--Slate300);
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:min(1rem)
}

.container{
    max-width:min-content;
    background-color:var(--White) ;
    padding:min(0.25rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img,.container{
     border-radius: 2rem;
}
img{
    width:18rem;
    height: auto;
    text-align: center;
    box-sizing: border-box;
     position: relative;
     top: 1em;


}
div{
    img{
        padding:min(0.6em);
    }
    padding:1em;
    h1{
       font-family:sans-serif;
       font-size:large;
       position: relative;
       top: 1em;
       box-sizing: border-box;
       padding: 0.5em;
       opacity: 0.9;
    }
    p{
        opacity: 0.5;
        padding: 1em
    }
}